h1{
  width: 100vw;
  text-align: center;
}

h2{
  width: 100vw;
  text-align: center;
}
h2 a{
  color: rgb(175,184,193);
  margin-right: 20px;
  cursor: pointer;
}
/* h2:hover{
  color: #646cff;
} */